h1 {font-style: inherit  }

h1 {color: gray;}

h1 {text-align: center;}

h2 { color:gray; }

h2 {text-align: center;}

body {background-color:rgb(255, 255, 255);
  background-image: url("web-back.jpg");}

h4 {
    color: gray}

img {
    height: 650px;
    width: 650px;}
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }

    
    p {text-align: center}
    p {color: white}

#name-field {   }

div {border-style: solid;}
div {background-color: rgb(200, 211, 221)}
div {
    width: 600px;
    height: 400px;
    border: 15px rgb(161, 19, 19);
    padding: 20px;
    margin: 20px;}
    h5 {text-align: center}
    